@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular.woff2') format('woff2'),
        url('fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --primary-color: #1992D4;
    --gray: #E2E8F0;
}

html {
    font-family: Roboto;
}

body {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 2fr 10fr;
    grid-template-rows: 1fr 6fr;
}

/** ASIDE STYLES */

aside {
    background-color: var(--primary-color);
    display: grid;

    justify-content: start;
    align-content: start;
    gap: 4vh;
    grid-row: 1 / 3;
}

aside>div {
    display: grid;
    grid-template-columns: 1fr 2fr;

    justify-items: center;
    align-items: center;

    color: white;
}

aside>div>h2,
aside>div>h1 {
    justify-self: start;
}

.logo {
    height: 56px;
    width: 56px;
}

.icon {
    height: 32px;
    width: 32px;
}

aside .logo,
aside .icon {
    filter: invert(100%);
}

/** HEADER STYLES */
header {
    background-color: white;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 2fr;
}

.search {
    display: grid;
    grid-template-columns: 1fr 9fr;
    align-items: center;
    justify-items: start;
    gap: 16px;
}

.search>img {
    justify-self: end;
}

.search>input {
    width: 90%;
    height: 32px;
    border-radius: 16px;
    border-style: none;
    background-color: var(--gray);
    padding: 4px 16px;
}

.account {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    align-items: center;
    justify-items: end;
    gap: 24px;
}

.account>h2 {
    justify-self: start;
}

.profile-bar {
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    justify-items: start;
    gap: 16px;
}

.profile-bar>img {
    justify-self: end;
}

.introduction {
    display: flex;
    flex-direction: column;
}

.introduction>h1,
.introduction>h4 {
    margin: 0;
}

.action-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
}

.action-buttons>button {
    background-color: var(--primary-color);
    color: white;
    border-style: none;
    border-radius: 32px;

    width: 12ch;
    padding: 16px 0;
}

.profile-picture {
    height: 52px;
    width: 52px;
}

.profile-picture-main {
    height: 96px;
    width: 96px;
}

/** SECTION STYLES */
section {
    background-color: var(--gray);
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.main-content,
.sidebar {
    padding: 24px;
}

.section-title {
    margin: 12px 0 4px 0;
    color: #333;
}

.projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;
}

.projects,
.announcements .card,
.trending .card {
    height: calc(100% - 43.59px);
    /* Need to subtract the height of the h2 plus the padding */
}

.card {
    background-color: white;
    padding: 24px;

    border-radius: 8px;
}

.projects>.card {
    border-left: solid 8px #4957B8;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.projects>.card>h3 {
    margin-bottom: 0;
    grid-column: 1 / 3;
}

.projects>.card>p {
    margin-top: 0;
    color: #888;
    max-width: 60ch;
    grid-column: 1 / 3;
}

.button-bar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    justify-content: end;

    grid-column: 2 / 3;
}

.sidebar {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

.trending .card {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(4, 1fr);

    align-items: center;
    justify-items: center;
    align-content: space-between;
}

.trending .card p {
    margin: 0;
}

.trending .card p+p {
    color: #888888;
}

.trending .card div {
    justify-self: start;
}